{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
   
    "comma-dangle": 0,
    "no-console": 0,
    "arrow-body-style": 0
  }
}